

.feedback-upload-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
}

.feedback-form {
  background-color: #fff; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%; 
  max-width: 500px; 
}

.feedback-form h2 {
  margin-bottom: 20px; 
  color: #333;
}

.feedback-form input,
.feedback-form textarea {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  width: 100%; 
  margin-bottom: 15px; 
  transition: border-color 0.3s; 
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #80bdff; 
  outline: none; 
}

.feedback-form button {
  background-color: #6ab967; /* Primary button color */
  color: #fff; /* White text */
  border: none; /* No border */
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer; /* Pointer on hover */
  transition: background-color 0.3s; /* Smooth transition */
}

.feedback-form button:hover {
  background-color: #25d425; /* Darker shade on hover */
}
