.youtube-video {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }
  
  .youtube-video  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  /* About.css */
.ratings {
  display: flex;
  justify-content: center;
}

.star-container {
  display: flex;
  align-items: center;
}

.star {
  margin-right: 5px; /* Adjust spacing between stars */
}

@media (max-width: 576px) {
  .star-container {
    flex-wrap: nowrap; /* Prevent wrapping on smaller screens */
    justify-content: center; /* Center the stars */
  }
}
