.footer .form-control {
    margin-bottom: 10px;
  }
  
  .footer .btn {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .footer .form-control {
      margin-bottom: 0;
    }
  
    .footer .btn {
      width: auto;
    }
  }
  