/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://insanelygoodrecipes.com/wp-content/uploads/2021/12/Spaghetti-Bolognese-with-Basil-in-a-Plate.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    filter: brightness(0.8); /* Optional: dim the background */
}

.form-box {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 400px; 
    border-radius: 10px;
    color: #fff; 
    padding: 30px;
    background-color: rgba(70, 52, 52, 0.6); 
    box-shadow: 0 0 10px rgba(36, 35, 35, 0.3);
}

h1 {
    margin-bottom: 20px;
    color: #fff; 
}

.input-box {
    margin-bottom: 15px;
    width: 100%; 
}



.input-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
    background-color: #fff; 
    color: #333; 
}

.input-box input::placeholder {
    color: #aaa; 
    opacity: 1; 
}

.input-box input:focus {
    border-color: #007bff;
    outline: none;
}


.input-box input:focus {
    border-color: #007bff;
    outline: none;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
