

.meal-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}

.meal-card {
    background-color: #343a40; 
    color: #fff; 
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer; 
    transition: transform 0.3s, box-shadow 0.3s; 
    max-width: 200px; 
}

.meal-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); }

.meal-image {
    width: 100%;
    height: auto; 
}

.meal-title {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem; 
}

.not-found {
    color: red;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}
